<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.actitime.generics.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
  <parameter name="testdata" value="customername=abc|description=For testing the actitime"/>
 <groups>
 	<run>
	 <exclude name="com.actitime.test.TestLogin"/>
 	</run>
 </groups>
    <classes>
      <class name="com.actitime.test.TestCreateCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
